<% if @jobs.any? %>
  <% @jobs.each do |job| %>
    <article>
      <p><%= link_to job.title, job_path(job.id, job.title.parameterize) %></p>
      <p><%= link_to job.company.name, company_path(job.company.id, job.company.name.parameterize) %></p>
      <p><%= job.brief_description %></p>
    </article>
  <% end %>
<% else %>
  <p>There is no open job position.</p>
<% end %>
