<table>
  <tr>
    <th>Title</th>
    <th>Brief Description</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.brief_description %></td>
    </tr>
  <% end %>
</table>
